<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened style="width:5rem">
    <mat-list>
      <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/search-user" routerLinkActive="active">
        <mat-icon>search</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/create-user" routerLinkActive="active">
        <mat-icon>how_to_reg</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="margin: 1rem;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
