.jumbotron {
  padding: 2rem;
  background: white;
}
.example-header-image {
  background-image: url('https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Sunglasses&hairColor=Auburn&facialHairType=Blank&facialHairColor=Black&clotheType=BlazerShirt&clotheColor=Gray01&eyeType=Squint&eyebrowType=SadConcernedNatural&mouthType=Twinkle&skinColor=Light');
  background-size: cover;
}

